#header {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 80px;
	font-weight: bold;
	text-shadow: 0px -2px 3px lightslategray;
	width: 100%;
	display: block;
	position: 10px;
	color: darkorange;
	padding-left: 20px;
	border: 2px dashed lightsteelblue;
	box-shadow: 0 0 0 8px lightslategray;
	background-color: mintcream;
	text-align: center;
}

#details li{
	list-style-type: circle;
	font-size: 14px;
	margin-left: 35%;
	margin-right: 20%;
	padding-bottom: 0px;
}

/* THIS DIV CLASS IS THE CONTAINER FOR THE MENU
IT DEFINES ATTRIBUTES FOR EVERYTHING INSIDE. */

div.tabbed-menu {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	width: 100%;
	padding-top: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* THIS UL CLASS DEFINES HOW THE MENU OPTIONS WILL BE
ARRANGED AND ALSO MAKES A DIVIDING LINE BETWEEN THE MENU 
AND THE CONTENT */

.tabs {
	text-align: center;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 26px;
	color: darkorange;
	border-bottom: 1px solid #DDDDDD;
}

#spacer {
	width: 600px;
}

/* THIS DEFINES THE LOOK OF THE INDIVIDUAL TABS OF THE
MENU WHEN THEY ARE CONTAINED IN A TABS CLASS UL */

.tabs li {
	margin-bottom: -1px;
	padding: 3px 10px 0 10px;
	border: 1px solid #DDDDDD;
	background: #EFEFEF;
	display: inline-block;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

p {
	font-size: 16px;
	margin-bottom: 0px;
}

strong {
	color: darkorange;
}

/* THIS DEFINES WHAT A TAB SHOULD LOOK LIKE WHEN SELECTED */

.tabs li.selected {
	background: #FFF;
	border-bottom-color: transparent;
	color: mediumturquoise;
	background: mintcream;
	font-weight: bold;
}

/* THIS DEFINES HOW A TAB LOOKS WHEN HOVERED OVER */

.tabs li:hover {
	color: mediumturquoise;
	cursor: pointer;
	background: mintcream;
}

/* THIS CENTERS ALL OF THE TEXT WITHIN A PAGE ELEMENT */

div.page {
	text-align: center;
}

/* THIS OVERRIDES THE TEXT CENTERING DEFINED ABOVE IF THE TEXT
IS WITHIN A LIST AND ALSO TELLS THE BROWSER NOT TO PUT BULLET POINTS
NEXT TO THE TEXT. */

div.page li {
	text-align: left;
	list-style-type: none;
}