* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

@font-face {
    font-family: 'museo_slab500';
    src: url('fonts/Museo_Slab_500_2-webfont.eot');
    src: url('fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HTML5 tags */
header, section, nav {
    display: block;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    background-color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

::selection {
    background-color: powderblue;
}

#headertag {
    font-family: 'museo_slab500', sans-serif;
    /*font-weight: bold;*/
    text-shadow: 0px -2px 3px lightslategray;
    color: mintcream;
}

h1 { 
    color: mintcream;
    text-decoration: none;
    font-size: 40px; 
    position: relative; 
}
h1 a { 
    color: mintcream; 
    font-size: 40px; 
    padding: 5px 25px 10px 25px; 
    text-decoration: none
}

h1 a:active {
 -webkit-transform: rotate(-1deg) scale(0.95); 
}

h2 {
    padding-left: 100px;
    font-family: 'museo_slab500';
    font-size: 66px;
    color: black;
    height: 90px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
    color: mediumturquoise;
}

h3 {
    color: mediumturquoise;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%
}

a {
    color: mediumturquoise;
    text-decoration: none;
    border-bottom: 1px solid mediumturquoise;
    padding-bottom: 2px;
}

a:hover {
    color: darkorange;
    text-decoration: none;
    border-bottom: 1px solid darkorange;
    padding-bottom: 2px;
}

a:active {
    color: darkorange;
    text-decoration: none;
    border-bottom: 1px solid darkorange;
    padding-bottom: 2px;
    position: relative;
    top: 1px;
}

p {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 36px;
}

header {
    padding: 5px 0;
    width: 100%;
    background-color: #000;
    margin-bottom: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 10;
    float: left;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.01, dimgray),
        color-stop(0.99, black)
    );
}

#headercontainer, #contentcontainer {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#contentcontainer {
    float: none;
    padding-top: 0px;
}

nav {
    width: auto;
    float: left;
}

nav ul {
    position: absolute;
    display: inline-block;
    right: 0;
    margin-top: -37px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    /*margin-left: 50px;*/
}

nav ul li a {
    font-size: 20px; 
    border-bottom: none;
}

section {
    margin-bottom: 300px;
    padding-top: 100px;
    float: left;
    width: 100%
}

 li {
    list-style-type: circle;
    font-size: 20px;
    padding-bottom: 0px;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td {
    width: 400px;
    height: 25px;
    font-size: 24px;
}

#contact p {
    margin-bottom: 0px;
}

#body {
    background-color: whitesmoke;
}

td p {
    margin-bottom: 5px;
    border: 1px solid black;
}
